




html
{

	text-align: center;
	justify-content: center;
	background: rgba(90,50,10,1);
  	scroll-behavior: smooth;
  	 margin: auto;
  	width: 80%;
  	padding: 10px;
  }
h1,h2,h3 {
  color: #fff;
}

span {
		color: #fff;
		font-size: large;

}

.simb {
  background-color: rgba(126,89,44,1);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}
.numberinput {
 -webkit-appearance: none;
  width: 10%;
    height: 20px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;

}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 15px;
  border-radius: 5px;  
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgba(126,89,44,1);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgba(126,89,44,1);
  cursor: pointer;
}