 *
{
  margin: 0;
  padding: 0;
/*font-family: 'Sarpanch', sans-serif;*/
    font-family: 'Quicksand', sans-serif;
    /*text-transform: uppercase;*/
}
html
{
  scroll-behavior: smooth;

}
body
{

}
table {
  border-collapse: collapse;
  width: 100%;
  height: 20%;
}
table, th, td {
  border: 2px solid black;
}
#nav-bar
{
  background: rgb(93,58,16);
  background: linear-gradient(90deg, rgba(93,58,16,1) 0%, rgba(147,113,74,1) 59%, rgba(126,89,44,1) 100%);
  position: sticky;
  top: 0;
  z-index: 10;
}
.navbar
{
  padding: 0 !important;
}
.navbar-brand img
{
  height: 40px;
  padding-left: 20px;
}
.navbar-nav li a
{
  color: #fff !important;
  font-weight: 600;
  float: right;
  text-align: left;
}
.fa-bars
{
  color: #fff;
  font-size: 30px !important;
}
.navbar-toggler
{
  outline: none !important;
}

/*--------banner----------*/

#banner
{ 
  background: rgb(93,58,16);
  /*background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(12,12,121,1) 59%, rgba(33,46,213,1) 100%);*/
  background: linear-gradient(90deg, rgba(93,58,16,1) 0%, rgba(147,113,74,1) 59%, rgba(126,89,44,1) 100%);
  color: #fff;
  padding-top: 5%;
}
.promo-title
{
  font-size: 40px;
  font-weight: 600;
  margin-top: 100px;
  word-wrap: break-word; 
}
.logo_btn
{
  filter: grayscale(100%);
  width: 45px;
  margin: 20px;
}
#banner a
{
  color: #fff;
  text-decoration: none;
}
.img_fluid
{
  max-width: 100%;
  max-height: 100%;
  margin: 15px auto;
}
.bottom-img
{
  width: 100%;
}

/*--------aplikacia----------*/

#app
{

  padding: 80px 0;
}
.app
{
  padding: 20px;
}
.app h4
{
  padding: 5px;
  margin-top: 25px;
  text-transform: uppercase;
}
.title::before
{
  content: '';
  background: rgba(93,58,16,1);
  height: 5px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  display: block;
  transform: translateY(63px);
}
.title {
  color: rgba(93,58,16,1);
}
.appdiv{
    justify-content: center;

}


/*----------Contact-------------*/

#social-media
{
  padding: 80px;
  background: #fff;
  padding: 5px 0;
}
#social-media p
{
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 30px;
}
.social-icons img
{
  width: 60px;
  transition: 0.5s;
}
.social-icons a:hover img
{
  transform: translateY(-10px);
}

.simb {
  background-color: rgba(126,89,44,1);
  border: none;
  color: white;
  padding: 25px 40px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;

}
#simulatorpagebutton
{
  text-align: center;
  justify-content: center;
}

/*----------Footer-------------*/

#footer
{
	background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(93,58,16,1) 0%, rgba(147,113,74,1) 59%, rgba(126,89,44,1) 100%);
  color: #fff;
}
#footer a{
	text-decoration: none;
  color: #fff;
}
#footer a:hover {
  color: #6e2c00;
}
.footer-img
{
  width: 100%;
  transform: rotate(180deg);
}
.footer-box
{
  padding: 20px;
}
.footer-box img
{
  width: 120px;
  margin-bottom: 20px;
}
.footer-box .fa
{
  margin-right: 8px;
  font-size: 25px;
  height: 40px;
  width: 40px;
  text-align: center;
  padding-top: 7px;
  border-radius: 2px;
  

}
tr:nth-child(even)
{
  background-color: #6e2c00;
  color: #fff;
}


/*-----  OTHERS ------*/

.abstract
{
  margin: auto 8%;
  padding: 1% 2%;
  text-align: justify;
}

#simulation-frame { 
  height: 500px;
  width: 500px;
  padding: 0;
  margin: 0 5% 0 auto;
  border: 3px solid;
  overflow: hidden;
  float: center;
  position:relative;
  background-color: rgba(93,58,16,1);
}

#controls{
  min-height: 406px;
  
}

#description{
  clear: left;
}

#container{
  position: relative;
}

.simb {
  background-color: rgba(93,58,16,1);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;

}




.circleRange{
    width: 100%;
    -webkit-appearance: none;
    -moz-appearance: none;
    background: rgba(93,58,16,1);
    outline: none;
    height: 10px;
}

.circleRange::-webkit-slider-thumb{
    -webkit-appearance: none;
    background: #3f51b5;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
.circleRange::-moz-slider-thumb{
    -moz-appearance: none;
    background: #3f51b5;
    cursor: pointer;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}
